attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
codecov==2.1.12
coverage==6.0.2
cycler==0.10.0
flake8==4.0.1
idna==3.3
importlib-metadata==4.2.0
iniconfig==1.1.1
kiwisolver==1.3.2
matplotlib==3.4.3
mccabe==0.6.1
mpmath==1.2.1
numpy==1.21.3
opencv-python==4.5.4.58
packaging==21.0
Pillow==8.4.0
-e git+ssh://git@github.com/Software-Engineering-BBSRC-Group-6/PK_modelling.git@cc4357275b9e62d7b9a1085d14a692481ea1c0ee#egg=pk_modelling
pluggy==1.0.0
py==1.10.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.1
pytest==6.2.5
python-dateutil==2.8.2
requests==2.26.0
scipy==1.7.1
six==1.16.0
swampy==3.0.1
sympy==1.6.2
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==16.0.0
zipp==3.6.0
